.pbtton{
    transition: 0.3s;
    cursor: pointer;
    opacity: 0.6;
}

.pbtton:hover{
    opacity: 1;
}

.pbttonD{
  transition: 0.3s;
  cursor: pointer;
  opacity: 0.6;
  width: 100%;
  color: red
}

.pbttonD:hover{
  opacity: 1;
}

.btnDelete{
  background-color: red;
}

.dialog{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.avatarform{
  display: flex;
  justify-content: center;
}

.cardcontainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  gap: 20px;
  padding: 20px;
}
  
.footerCard{
  display: flex;
  margin-top: 20% !important;
}

.avatar{
  margin-top: 10px;
}

.descriptionCard{
  min-height: 120px;
  max-height: 120px;
  overflow: hidden;
}

.footerCard{
  margin-top: 10px !important;
  flex: 20;
}