.avatar{
    width:80px;
    height: 80px;
    
}

.avatar :hover{
    cursor: pointer;
    -webkit-box-shadow: 2px 4px 22px 26px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 4px 22px 26px rgba(0,0,0,0.75);
    box-shadow: 2px 4px 22px 26px rgba(0,0,0,0.75);
}